@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    background-color: #ffffff;
}
#brand-name {
    font-family: 'Unbounded', cursive;
    overflow-x: hidden;
    /*font-size: 42px;*/
}
/*NAVBAR MENU*/
#menu a {
    font-weight: bold;
    color: #3f3f3f;
}

.carousel-inner {
    max-height: 39rem;
}

#catcher-button {
   background-color: #6053f7;
}
#catcher-button:hover {
    opacity: 0.8;
    transition: 0.5s;
}
.btn {
    white-space: normal;
}

/*MEDIA QUERIES*/
@media (max-width: 0) {
    footer {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .icon-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .we-offer {
        width: 90% !important;
    }
    footer {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #descript1 {
        width: 90% !important;
    }
}

@media (max-width: 992px) {
    footer {
        width: 100%;
    }
}

#newsletter {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
}
.newsCard {
    width: 270px;
}

footer {
    background-color: #ede5a6;
    /*min-height: 100px;*/
    width: 100%;
}
#footersocials {
    font-size: 26px;
    padding: 0 41%;
}