@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');

body {
    background-color: #ffffff;
}

#brand-name {
    font-family: 'Unbounded', cursive;
    overflow-x: hidden;
    /*font-size: 42px;*/
}
/*NAVBAR MENU*/
#menu a {
    font-weight: bold;
    color: #3f3f3f;
}

.carousel-inner {
    max-height: 39rem;
}

#catcher-button {
   background-color: #6053f7;
}

/*#descript1 {
    padding-left: 5px;
}*/

@media (max-width: 768px) {
    #descript1 {
        width: 90% !important;
    }
}
@media (max-width: 576px) {
    .icon-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .we-offer {
        width: 90% !important;
    }
}

#newsletter {
    margin-left: 3px;
    margin-right: 2%;
}
.newsCard {
    width: 270px;
}

footer {
    background-color: #ede5a6;
}
